* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0BB8C;
}

header{
    background-color: #D9D9D9;
    color: #000;
}

img{
    height: 35px;
}

.perfil{
    height: 50px;
    width: 50px;
    background-color: #743e0f;
    border-radius: 100%;
}

.tudo{
    display: flex;
    
}