* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0BB8C;
}

img {
    height: 35px;
}

.perfil {
    height: 50px;
    width: 50px;
    background-color: #743e0f;
    border-radius: 100%;
}

.tudo {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #D9D9D9;
    color: #000000;
}

.linha {
    width: 100%;
    border-bottom: 2px solid #000000;
    margin: auto;
}

.abaixo {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;

}

.abaixo a {
    text-decoration: none;
    color: #361A01;
    padding: 20px
}

.abaixo a:hover {
    color: #a0a0a0;
}

.tudo a {
    font-size: 30px;
    color: #361A01;
}

.tudo a:hover {
    font-size: 30px;
    color: #a0a0a0;
}

.ultimas p {
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

.img-receitas {
    display: flex;
    justify-content: space-evenly;
}

.imagens{
    width: 336px;
    height: 224px;
}